@import 'tailwindcss';

@font-face {
  font-family: 'Onest Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url('/fonts/onest/onest-latin-wght.woff2') format('woff2-variations');
}

@font-face {
  font-family: 'Onest Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url('/fonts/onest/onest-variable-font-wght.ttf') format('truetype');
}

:root {
  --h: 130;
  --c: 0.0175;

  --color-50: oklch(0.985 calc(var(--c) * 0.16) calc(var(--h) - 10));
  --color-100: oklch(0.97 calc(var(--c) * 0.24) calc(var(--h) - 10));
  --color-200: oklch(0.922 calc(var(--c) * 0.42) calc(var(--h) - 3));
  --color-300: oklch(0.87 calc(var(--c) * 0.7) calc(var(--h) - 6));
  --color-400: oklch(0.708 calc(var(--c) * 0.87) calc(var(--h) - 2));
  --color-500: oklch(0.556 calc(var(--c) * 1) var(--h));
  --color-600: oklch(0.439 calc(var(--c) * 0.94) calc(var(--h) - 1));
  --color-700: oklch(0.371 calc(var(--c) * 0.96) calc(var(--h) - 1));
  --color-800: oklch(0.269 calc(var(--c) * 0.96) calc(var(--h) + 4));
  --color-900: oklch(0.205 calc(var(--c) * 1) calc(var(--h) + 10));
  --color-950: oklch(0.145 calc(var(--c) * 1.02) calc(var(--h) + 11));

  --radius: 0.675rem;
  --background: var(--color-100);
  --foreground: var(--color-600);
  --card: var(--color-50);
  --card-foreground: var(--color-600);
  --popover: var(--color-50);
  --popover-foreground: var(--color-600);
  --primary: var(--color-800);
  --primary-foreground: var(--color-100);
  --secondary: oklch(53.2% 0.157 131.589);
  --secondary-foreground: var(--color-100);
  --muted: var(--color-200);
  --muted-foreground: var(--color-400);
  --accent: var(--color-200);
  --accent-foreground: var(--color-800);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: var(--color-100);
  --border: var(--color-300);
  --input: var(--color-300);
  --ring: var(--color-300);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  /* Дополнительные токены */
  --lite: var(--color-100);
}

.dark,
[data-theme='dark'] {
  --background: var(--color-900);
  --foreground: var(--color-300);
  --card: var(--color-800);
  --card-foreground: var(--color-200);
  --popover: var(--color-800);
  --popover-foreground: var(--color-200);
  --primary: var(--color-200);
  --primary-foreground: var(--color-900);
  --secondary: oklch(53.2% 0.157 131.589);
  --secondary-foreground: var(--color-200);
  --muted: var(--color-700);
  --muted-foreground: var(--color-400);
  --accent: var(--color-700);
  --accent-foreground: var(--color-100);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: var(--color-100);
  --border: var(--color-600);
  --input: var(--color-600);
  --ring: var(--color-600);
  --lite: var(--color-600);
}

@theme inline {
  --font-sans: 'Onest Variable', ui-sans-serif, system-ui, sans-serif;
  --radius-sm: calc(var(--radius) / 1);
  --radius-md: calc(var(--radius) / 1.3125);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.3125);
  --radius-2xl: calc(var(--radius) * 1.625);
  --radius-3xl: calc(var(--radius) * 1.9375);
  --radius-4xl: calc(var(--radius) * 2.25);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-lite: var(--lite);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  html {
    color-scheme: light;
    font-family: 'Onest Variable', ui-sans-serif, system-ui, sans-serif;
  }

  body {
    margin: 0;
    min-width: 320px;
    min-height: 100dvh;
    background: var(--background);
    color: var(--foreground);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-accent-foreground);
  }

  button,
  [role='button'] {
    cursor: pointer;
  }
}
